.red {
    color: red;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    font-family: Comic Sans MS;
}
.green {
    color: green;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.yellow {
    color: teal;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.main {
    padding: 30px;
    align-items: center;
    padding-left: 20%;
}
.taskDiv {
    background-color: white;
    padding: 30px;
    width: 80%;
    margin-top: 20px;
}
